# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

input/*/*
!input/*/.gitkeep

output/*
!output/.gitkeep

!.git*

downloaded_pretrained_models

.cache
.keras
.vscode
.config
# that of docker container btw
.bash_history
